body {
  font-family: Arial, sans-serif;
  font-style: italic;
  text-align: center;
  background: linear-gradient(to right, #e4b470, #ba441c);
}

#game-area {
  width: 500px;
  height: 400px;
  margin: 20px auto;
  border: 2px solid #333;
  position: relative;
  background-color: #ece5e5;
}

#box {
  width: 50px;
  height: 50px;
  background-color: rgb(211, 100, 81);
  position: absolute;
  border-radius: 8px;
}
